body{
	text-align: center;
}

.input{
 	font-size: 13px;
 }
 
table{
	width: 1580px;
	border: 1px solid #777;
	border-collapse: collapse;         
}

table th, table td {
	width: 120px;
    border: 1px solid gray;
	text-align:center;           
}

.buttonstyle{
	cursor: pointer;
}

